.advantages {
  text-align: center;
  overflow: hidden;
}

.advantages__title {
  position: relative;
  margin: 0;
  padding: 40px 20px 50px;
  .resize(line-height, 29, 54.47, 68);
  .resize(font-size, 24, 40, 50);
  font-weight: 300;

  &:first-child {
    padding: 46px 20px 0;

    @media (min-width: @bpTablet) {
      padding-top: 58px;
    }

    &::before {
      content: none;
    }
  }

  &:nth-child(2) {
    @media (min-width: @bpTablet) {
      max-width: 360px;
      margin: 0 auto;
    }

    @media (min-width: @bpTablet) {
      max-width: 460px;
    }
  }

  @media (min-width: @bpTablet) {
    padding-bottom: 60px;
    padding-top: 0;
  }
}

.advantages__container {
  position: relative;
  padding-bottom: 288px;

  @media (min-width: @bpTablet) {
    padding-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-right: 100vw solid @bgPrimaryColor;
    border-top: 32px solid transparent;
    z-index: -1;

    @media (min-width: @bpTablet) {
      border-top-width: 54px;
    }

    @media (min-width: @bpDesktop) {
      border-top-width: 68px;
    }
  }
}

.advantages__list {
  margin: 0;
  padding: 86px 20px 40px;
  list-style: none;

  @media (min-width: @bpTablet) {
    padding: 86px 20px 20px;
  }

  @media (min-width: @bpDesktop) {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.advantages__list-item {
  &:first-child {
    &::before {
      @media (min-width: @bpDesktop) {
        position: absolute;
        top: 0;
        right: 7px;
        left: 0;
        width: 186px;
        height: 300px;
        background: url("../../img/iphone-screen-1-desktop.png");
        content: "";
        margin: auto;
      }
    }
  }

  &:nth-child(2) {
    &::before {
      @media (min-width: @bpDesktop) {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 186px;
        height: 300px;
        background: url("../../img/iphone-screen-2-desktop.png");
        content: "";
        margin: auto;
      }
    }
  }

  &:last-child {
    &::before {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      width: 157px;
      height: 278px;
      background: url("../../img/iphone-screen-3-mobile.png");
      content: "";
      margin: auto;

      @media (min-width: @bpTablet) {
        top: 25px;
        right: auto;
        bottom: auto;
        left: 20px;
        width: 268px;
        height: 480px;
        background-image: url("../../img/iphone-screen-3-tablet.png");
      }

      @media (min-width: @bpDesktop) {
        top: 0;
        left: 7px;
        right: 0;
        width: 186px;
        height: 300px;
        background-image: url("../../img/iphone-screen-3-desktop.png");
      }
    }
  }

  @media (min-width: @bpTablet) {
    max-width: 310px;
    width: 100%;
    margin-bottom: 35px;
    margin-left: auto;
    text-align: left;
  }

  @media (min-width: @bpDesktop) {
    position: relative;
    max-width: 300px;
    margin: 0;
    padding: 357px 10px 10px;
    text-align: center;
  }
}

.advantages__list-title {
  margin: 0 0 12px;
  .resize(line-height, 24, 24, 30);
  .resize(font-size, 18, 18, 30);
  font-weight: 700;
}

.advantages__list-img {
  display: none;

  @media (min-width: @bpDesktop) {
    display: block;
    margin: 0 auto;
  }
}
