.main-introduction {
  background: @bgBaseColor url("../../img/back-mobile.png") no-repeat;
  background-size: 100%;
  padding-top: 102px;
  padding-bottom: 51px;
  color: @lightColor;

  @media (min-width: @bpTablet) {
    padding-top: 178px;
    padding-bottom: 59px;
  }

  @media (min-width: @bpDesktop) {
    padding-top: 168px;
    padding-bottom: 90px;
  }
}

.main-introduction__title {
  font-style: normal;
  font-weight: 300;
  .resize(font-size, 24, 50, 50);
  .resize(line-height, 32.68, 68.09, 68.09);
  text-align: center;
  margin: 0 auto;
  .resize(max-width, 280, 620, 960);
}
