.main-introduction {
  background: @bgBaseColor url("../../img/back-mobile@1x.jpg") no-repeat;
  background-size: 100%;
  padding-top: 96px;
  padding-bottom: 78px;
  color: @lightColor;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../../img/back-mobile@2x.jpg");
  }

  @media (min-width: @bpTablet) {
    min-height: 205px;
    padding-top: 178px;
    padding-bottom: 126px;
    background-image: url("../../img/back-tablet@1x.jpg");
  }

  @media (min-width: @bpTablet) and (min-resolution: 1.5dppx) {
    background-image: url("../../img/back-tablet@2x.jpg");
  }

  @media (min-width: @bpDesktop) {
    min-height: 135px;
    padding-top: 168px;
    padding-bottom: 90px;
    background-image: url("../../img/back-desktop@1x.jpg");
  }

  @media (min-width: @bpDesktop) and (min-resolution: 1.5dppx) {
    background-image: url("../../img/back-desktop@2x.jpg");
  }

  &--form {
    padding-bottom: 45px;

    @media (min-width: @bpTablet) {
      padding-bottom: 58px;
    }

    @media (min-width: @bpDesktop) {
      padding-bottom: 93px;
    }

    .main-introduction__title {
      .resize(max-width, 280, 620, 750);
    }
  }
}

.main-introduction__title {
  font-style: normal;
  font-weight: 300;
  .resize(font-size, 24, 50, 50);
  .resize(line-height, 32.68, 68.09, 68.09);
  text-align: center;
  margin: 0 auto;
  .resize(max-width, 280, 620, 650);
}

.header--opened + .main .main-introduction {
  .resize(padding-top, 30, 68, 168);
}
