.promo {
  background: @bgBaseColor url("../../img/back-mobile.png") no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .resize(padding-top, 66, 110);
  padding-bottom: 28px;
  color: @lightColor;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    width: 320px;
    height: 286px;
    background: url("../../img/iphone-hand-mobile.png") no-repeat;
    order: 1;

    @media (min-width: @bpTablet) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 660px;
      height: 545px;
      background-image: url("../../img/iphone-hand-tablet.png");
      z-index: -1;
    }

    @media (min-width: @bpDesktop) {
      width: 908px;
      height: 645px;
      background-image: url("../../img/iphone-hand-desktop.png");
    }
  }

  &--with-bg {
    z-index: 1;
  }

  @media (min-width: @bpTablet) {
    min-height: 619px;
    padding-right: 20px;
    padding-left: 20px;
    background: @baseColor url("../../img/back-tablet.jpg") no-repeat;
    padding-bottom: 109px;
    align-items: flex-start;
    background-size: 100%;
  }

  @media (min-width: @bpDesktop) {
    min-height: 743px;
    padding-right: 130px;
    padding-left: 130px;
    background: @baseColor url("../../img/back-desktop.jpg") no-repeat;
    background-size: 100%;
  }
}

.promo__container {
  order: 2;

  @media (min-width: @bpDesktop) {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
  }
}

.promo__title {
  font-style: normal;
  font-weight: 300;
  .resize(font-size, 24, 40, 50);
  .resize(line-height, 29, 48, 68);
  text-align: center;
  margin: 0 auto;
  max-width: 210px;
  padding: 29px 20px 23px;

  @media (min-width: @bpTablet) {
    max-width: 300px;
    width: 100%;
    padding: 90px 30px 20px;
    margin-left: 0;
  }

  @media (min-width: @bpDesktop) {
    padding-top: 100px;
    margin: 0 auto;
    max-width: 940px;
    padding-right: 670px;
  }
}

.promo__link-download {
  background-color: inherit;
  border: 3px solid #ffffff;
  border-radius: 29px;
  box-sizing: border-box;
  width: 280px;
  height: 55px;
  margin: 28px auto 38px;
  color: #ffffff;
  font-weight: 700;
  .resize(font-size, 18, 18, 21);
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &:hover {
    background-color: @lightColor;
    color: @brightColor;
  }

  &:focus {
    outline: 1px dashed @lightColor;
    outline-offset: 2px;
  }

  &:active {
    color: rgba(@brightColor, 0.3);
  }

  @media (min-width: @bpTablet) {
    margin-left: 0;
    margin-top: 9px;
    width: 300px;
    background: transparent;
  }
}

.promo__apps-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 38px 0 31px;
  padding: 0;

  @media (min-width: @bpTablet) {
    max-width: 300px;
    width: 100%;
    margin-top: 13px;
    margin-bottom: 22px;
  }
}

.promo__apps-item {
  margin: 0 18px 10px;
}

.promo__apps-link {
  display: inline-flex;

  &:focus {
    outline: 1px dashed @lightColor;
    outline-offset: 3px;
  }
}

.promo__text {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  max-width: 220px;
  margin: 0 auto;

  @media (min-width: @bpTablet) {
    font-size: 18px;
    margin-left: 0;
    max-width: 300px;
  }

  @media (min-width: @bpDesktop) {
    line-height: 24px;
  }
}
