.reviews {
  padding: 41px 20px;
  text-align: center;
  line-height: 30px;

  @media (min-width: @bpTablet) {
    padding-bottom: 12px;
  }

  @media (min-width: @bpDesktop) {
    padding: 185px 130px 34px;
  }
}

.reviews__list {
  list-style: none;
  padding: 0;
  margin: 0 0 45px;
  position: relative;

  @media (min-width: @bpDesktop) {
    &::before {
      position: absolute;
      content: "";
      top: -114px;
      left: 0;
      right: 0;
      width: 79px;
      height: 63px;
      background: url("../../img/quotes.svg");
      margin: 0 auto;
    }
  }
}

.reviews__list-item {
  margin: 0;

  @media (min-width: @bpTablet) {
    display: flex;
    flex-direction: column;
  }
}

.reviews__list-title {
  font-style: normal;
  font-weight: 700;
  color: @darkColor;
  .resize(font-size, 18, 20, 24);

  @media (min-width: @bpTablet) {
    order: 2;
    margin-bottom: 5px;
  }
}

.reviews__list-desc {
  display: none;

  @media (min-width: @bpTablet) {
    display: block;
    order: 3;
  }

  @media (min-width: @bpDesktop) {
    padding-top: 2px;
  }
}

.reviews__list-text {
  margin: 12px 0;

  @media (min-width: @bpTablet) {
    margin-bottom: 36px;
    font-size: 18px;
    order: 1;
  }

  @media (min-width: @bpDesktop) {
    max-width: 688px;
    width: 100%;
    margin: 0 auto 36px;
  }
}

.reviews__buttons {
  display: none;

  @media (min-width: @bpDesktop) {
    display: block;
  }
}

.reviews__button {
  position: absolute;
  top: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    .reviews__button-icon {
      fill: rgba(@baseColor, 0.6);
    }
  }

  &:focus {
    outline: 1px dashed @baseColor;
    outline-offset: 2px;
  }

  &:active {
    .reviews__button-icon {
      fill: rgba(@baseColor, 0.1);
    }
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }
}

.reviews__button-icon {
  fill: rgba(@baseColor, 0.3);
}
