.reviews {
  padding: 41px 20px 11px;
  text-align: center;
  line-height: 30px;

  &__list {
    list-style: none;
    padding: 0;

    &-item {
      margin: 0;
    }

    &-title {
      font-style: normal;
      font-weight: 700;
      color: @darkColor;
      font-size: 18px;
    }

    &-text {
      margin: 12px 0;
    }
  }
}
