.upload-photo {
  padding-top: 20px;
}

.upload-photo__title {
  padding: 0 20px 42px;
  text-align: center;
  line-height: 30px;
  white-space: pre-line;
  font-size: 14px;
  font-weight: 400;

  .resetMargin;
}

.upload-form {
  padding: 20px 20px 42px;
  background-color: @bgPrimaryColor;
}

.upload-form__photo {
  display: block;
}

.upload-form__buttons-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 240px;
  width: 100%;
  margin: 32px auto 39px;
  padding: 0 0 58px;
  list-style: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -40px;
    width: 320px;
    height: 1px;
    background-color: rgba(@baseColor, 0.1);
  }
}

.upload-form__buttons-item {
  margin: 10px 17.5px;
  box-sizing: border-box;
}

.upload-form__button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--cut {
    width: 44px;
    height: 44px;
  }

  &--color {
    width: 48px;
    height: 43px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }

  &--active {
    pointer-events: none;

    .upload-form__button-icon {
      fill: @brightColor;

      &:hover {
        fill: @brightColor;
      }
    }
  }

  &:focus {
    outline: 1px dashed;
    outline-offset: 5px;
  }

  &:hover {
    .upload-form__button-icon {
      fill: rgba(@baseColor, 0.5);
    }
  }
}

.upload-form__button-icon {
  fill: rgba(@baseColor, 0.3);
}

.upload-form__controls {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;

  &--color {
    display: none;
  }

  &--contrast {
    display: none;
  }
}

.upload-form__controls-bar {
  position: absolute;
  bottom: 34px;
  width: 100%;
  height: 2px;
  background: @baseColor;
}

.upload-form__controls-toggle {
  position: absolute;
  bottom: 27px;
  width: 14px;
  height: 14px;
  padding: 0;
  background-color: @lightColor;
  border: 2px solid @brightColor;
  border-radius: 50%;
  transform: translateX(192px);
  cursor: pointer;

  &:focus {
    outline: 1px dashed;
    outline-offset: 2px;
  }
}

.upload-form__post-button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  width: 100%;
  padding: 15.5px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: @brightColor;
  border: 3px solid @brightColor;
  border-radius: 30px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: @brightColor;
    color: @lightColor;
  }

  &:active {
    background-color: @brightColor;
    color: rgba(@lightColor, 0.3);
  }

  &--submit {
    margin-bottom: 12px;
  }

  &--reset {
    color: rgba(@baseColor, 0.1);
    border-color: rgba(@baseColor, 0.1);

    &:hover {
      background-color: transparent;
      color: rgba(@baseColor, 0.3);
      border-color: rgba(@baseColor, 0.3);
    }

    &:active {
      background-color: rgba(@baseColor, 0.3);
      color: rgba(@lightColor, 0.3);
      border-color: transparent;
    }
  }

  &:focus {
    outline: 0;
  }
}
